<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Environment default setting, permitted values: TRIAL or LIVE or START for setup -->
    <add key="Environment" value="DEV" />
    <!-- Override Default Environment -->
    <add key="Environment.AMAZONA-3GTDI22" value="LIVE" />
    <add key="Environment.ProBotic" value="DEV_CB" />
    <add key="Environment.CharlieBarkerPc" value="DEV_CB2" />

    <!--===== DEV_CB Environment Settings =================================-->
    <add key="DEV_CB.DatabaseConnString" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXvj63Yv5Ik+IxbC6lfZy7AAAAAACAAAAAAAQZgAAAAEAACAAAAAZx6kxp7ONnyErgXzukDfCo5MRb9mrL099Pc3jxP1C6wAAAAAOgAAAAAIAACAAAAB81ZT6wFnkQhTgAW7kBfAo3BL8p3RjbdmgD3e2PuBMsNAAAABI302hsSSIzerONBqUAoUo+mID2/wNnj5J4rD7T42YQbxvYygSeqgUQhHY6cknha4hMmXK3z/G9q272lRTgiSAsff/RuU94Az6BMiBbAWVkdeUIOrIRAKO3rlhhVksyhLk2fAxrtR/PcLumTcwQ+nKR03pTH0ib/me8R9i6X0FPw4p+1LRT3xuQOBu7xzeVujxFoViExqUOy18Kk39OhAJ1jIoxAZjQzKEVwYtxyLfwzsSHl8CgM31VTxZR/YfKxugHojKeHSbxPJ352LXTdLpQAAAAA44xHQ8qnZJ5FaoDIPIRG4EdSZAQW4dvQDKVd7mM0vQbO8NzSDL6TUAmm5DhwRvhTEj4O467JY0/9icdThRG8w=" />

    <!--===== DEV_CB2 Environment Settings =================================-->
    <add key="DEV_CB2.DatabaseConnString" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXvj63Yv5Ik+IxbC6lfZy7AAAAAACAAAAAAAQZgAAAAEAACAAAADsFUcyGlHyesncM8CeQHdKjAdaVjIjwO3SvJWH9A8GIwAAAAAOgAAAAAIAACAAAAD/gTVPqCuAZjLlFDVRkveQFBIX4JsoekYaPlXYTqwccMAAAAD96LoGUN/Z9Sswl3HHEm1Vc6cLGLtKy6wWVmv6+dtqFQwQ6OUl/FeMb1UxcxjVlno2BJJ2xpq8S0eGSEYjXPe+ecM2CZVI5SgSRkzemorFeUbd8OZTF967RYXl8vYX5MSxFC82cLXhvW3t+lFa10gLQY1ivMt9spOTwmQi2wAyK0bug2nbetAPbe+CBsgjB/yeowYvQqcITCtfh6jC3zTL8CODH4nGkbCSs+ubfNFPEB6EIxQ9dPuXINUKTpvlhQdAAAAAeNb/YAIzEjpCwCFrpdyDqgpkT59xhXhFTjKlL3TSSdo9V9sDzqVFiLUPmGgRYhbLXYcxTBPKwx0VVA9QECFViA==" />

    <!--===== LIVE Environment Settings =================================-->
    <add key="LIVE.DatabaseConnString" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAxUV+RL6I8U2k83ODaTzbVQAAAAACAAAAAAAQZgAAAAEAACAAAACTsGFcQHSpaOkSGw08aolewnD2tZcIL+dKnuMkw3rzkAAAAAAOgAAAAAIAACAAAAAQjCJAHKeaDuT2v9awV8CCjKws90GQ4Xvo12tCF5tw5VAAAAAr2Ho5UkpnYDdJ9pKvZDieDxF1EcYxaHVtdKfzeI/eB4k3SZU2cikKM/k5qmTqrVWJ1nN2QzcpnntmRsfSizsUOVsfTiHhmxzH/VnAeirn6kAAAACxzgE5CvTFtcPhsEG46JEIu5vD6ae3QvVqEX5x5vaIm5HctHnkqHP0EG/kKnvuGPzIHqnZn7wfa9o9thK2vstZ" />

  </appSettings>
</configuration>