<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Environment default setting, permitted values: TRIAL or LIVE or START for setup -->
    <add key="Environment" value="DEV" />
    <!-- Override Default Environment -->
    <add key="Environment.AMAZONA-3GTDI22" value="LIVE" />
    <add key="Environment.ProBotic" value="DEV_CB" />
    <add key="Environment.CharlieBarkerPc" value="DEV_CB2" />

    <!--===== DEV_CB Environment Settings =================================-->
    <add key="DEV_CB.DatabaseConnString" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAldAZuWS6qkaNA5/7c36MXgAAAAACAAAAAAAQZgAAAAEAACAAAABBvf8kwBFzdRYanfGVO7h5miwWb8ZoW4jLLaY7Y3HQ9QAAAAAOgAAAAAIAACAAAABqrbhmr0F8AjYfJP9PKXZgcrD1a6Vq1+SJEeXx+W1oS8AAAADhpEtN3yOZxOWU4hqiBhboFht8N6mhyU5Z37SHngXBBtLZkMzM69qryrX3+YDLTnQlQT1nW06d7LnX1AooqUUAqYjXOrfil/nf5ZudMDDpDKnmuN3iiZ9j7t29Vdv248+wfE6VF7dHU1VRL+IfA5+nh0NKjLHjVJOkFcZ6lr5fzwyeJZksL/K7J2fF13EzFKo+qp9NWzCE1x2KGjxCLIU63sJHpPv9+vX+/aBjINMhdUsH+KNvNMy/tFht2GU3p2FAAAAAWSPG4CjfN5/Pj2axy99KxDOvhXo9VKafhZrkLPGIKu5564+uqVL3CcOIW7HKGdIz/CHx314FiGZWTLopSr85wQ==" />

    <!--===== DEV_CB2 Environment Settings =================================-->
    <add key="DEV_CB2.DatabaseConnString" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXvj63Yv5Ik+IxbC6lfZy7AAAAAACAAAAAAAQZgAAAAEAACAAAADsFUcyGlHyesncM8CeQHdKjAdaVjIjwO3SvJWH9A8GIwAAAAAOgAAAAAIAACAAAAD/gTVPqCuAZjLlFDVRkveQFBIX4JsoekYaPlXYTqwccMAAAAD96LoGUN/Z9Sswl3HHEm1Vc6cLGLtKy6wWVmv6+dtqFQwQ6OUl/FeMb1UxcxjVlno2BJJ2xpq8S0eGSEYjXPe+ecM2CZVI5SgSRkzemorFeUbd8OZTF967RYXl8vYX5MSxFC82cLXhvW3t+lFa10gLQY1ivMt9spOTwmQi2wAyK0bug2nbetAPbe+CBsgjB/yeowYvQqcITCtfh6jC3zTL8CODH4nGkbCSs+ubfNFPEB6EIxQ9dPuXINUKTpvlhQdAAAAAeNb/YAIzEjpCwCFrpdyDqgpkT59xhXhFTjKlL3TSSdo9V9sDzqVFiLUPmGgRYhbLXYcxTBPKwx0VVA9QECFViA==" />

    <!--===== LIVE Environment Settings =================================-->
    <add key="LIVE.DatabaseConnString" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAxUV+RL6I8U2k83ODaTzbVQAAAAACAAAAAAAQZgAAAAEAACAAAAD/rhFV3KjVpWrvpRxpAwwXVp6iuSYNHpamvH3XljJ1mgAAAAAOgAAAAAIAACAAAAAUHDinzhkVZ4850PQVSpvSBOaRYqtJUM8odQ8zNkKIocAAAAAPjnBqYaW3/s7Vdq4dp4iWOiF70QmlVGxfNcbDBdZqLknrBQ8abLAmBz2UJaRw+RVD2PwAHynzf4l1EiljwKhQ7VIi0+Ea9gnU6DLULdHDrpq571G5qImJ73vkNfKq7DVLwfeuUZI/3xNZUSHB14V3/YfMNwdWwaeOOZ/6qLyFcR3b48p5L+vTvqycpJnYeKteIl9R8X0r87JRFnhBonsxQlC+544ko44wb2Z0H7LIcYNMAefVMm6YaC5IZE90L7xAAAAABqqcCx0ZAy1SFjsYrY9LVxLjplkUyul1D7orv5KUP8MdMf51RwYu6VJFCiDjAtnnqOdNuR+hoIm5IGrfH/3OMQ==" />

  </appSettings>
</configuration>